/*
 * colors variables
 */
html, body {
  min-height: 100%;
  min-width: 1366px;
  background: #f4f4f4;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.more {
  color: #2da1e7;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #57bc4c;
  border: none;
}

/*
 * colors variables
 */
header {
  /*
     * nav-color, menu-color, mouseover-color
     */
}

header a {
  color: #333;
}

header a:hover {
  color: #f63;
  text-decoration: none;
}

header .navbar {
  border-radius: 0px;
}

header .navbar-nav {
  font-size: 16px;
  margin: 0 20px;
  font-weight: bold;
  color: #333;
}

header .navbar-right {
  margin-top: 12px;
  margin-right: 0px;
}

header .navbar-right a {
  color: #57bc4c;
}

header .learingHeader {
  background: #fff;
  border-bottom: solid 2px #57bc4c;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 10px;
}

header input {
  height: 35px;
  margin-top: 7px;
}

header .input-search {
  border: solid 2px #57bc4c;
  width: 280px;
  padding-left: 10px;
}

header .search-buttom {
  border: solid 2px #57bc4c;
  background: #57bc4c;
  color: #fff;
  font-weight: bold;
  width: 80px;
}

/*
 * colors variables
 */
footer {
  width: 100%;
  background: #fff;
  margin-top: 20px;
  padding: 40px 0;
  line-height: 260%;
}

footer .btn-primary {
  min-width: 100px;
  margin-top: 10px;
}

footer img {
  position: relative;
  top: -8px;
  left: 0px;
}

footer dt {
  margin-bottom: 20px;
}

footer dd {
  line-height: 200%;
}

html, body {
  background: #f4f4f4;
}

.teacher-info .teac-top {
  margin-bottom: 15px;
  padding: 0 15px;
  background: #fff;
}

.teacher-info .teac-top img {
  width: 270px;
  margin: 10px 0px;
}

.teacher-info .teac-top .col-lg-9 div:nth-child(2) {
  font-size: 18px;
  height: 50px;
}

.teacher-info .teac-top .col-lg-9 div:nth-child(3) {
  font-size: 16px;
  line-height: 24px;
}

.teacher-info .teacher-course-list {
  margin: 15px 0;
  padding: 20px 0;
  background: #fff;
}

.teacher-info .teacher-course-list .title {
  font-size: 22px;
  padding-left: 20px;
  border-left: solid 8px #57bc4c;
}

.teacher-info .teacher-course-list .course-list {
  margin: 10px 15px 0 15px;
  padding: 0 15px;
  border-top: solid 1px #787d82;
}

.teacher-info .teacher-course-list .course-list img {
  width: 140px;
  margin: 10px 0px;
}

.teacher-info .teacher-course-list .course-list li {
  list-style: none;
  overflow: auto;
  padding: 10px 0;
  border-bottom: dashed 1px #ddd;
}

.teacher-info .teacher-course-list .course-list .go-learing {
  height: 100px;
  border-left: solid 1px #57bc4c;
}

.teacher-info .teacher-course-list .course-list .go-learing a {
  margin-top: 32px;
  padding: 10px 40px;
}

.teacher-info .teacher-course-list .course-list .col-lg-10 div:nth-child(2) {
  height: 30px;
}

.teacher-info .teacher-course-list .course-list .col-lg-10 div:nth-child(4) {
  position: absolute;
  right: 10px;
  top: 95px;
}

.teacher-info .teacher-course-list .course-list .col-lg-10 div:nth-child(4) .glyphicon:before {
  position: relative;
  margin-left: 5px;
  top: 2px;
}

.teacher-info .teacher-course-list .course-list .col-lg-10 div:nth-child(4) .cl-star {
  color: #ffc10d !important;
}
