@charset "UTF-8";
/*
 * colors variables
 */
html, body {
  min-height: 100%;
  min-width: 1366px;
  background: #f4f4f4;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.more {
  color: #2da1e7;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #57bc4c;
  border: none;
}

/*
 * colors variables
 */
header {
  /*
     * nav-color, menu-color, mouseover-color
     */
}

header a {
  color: #333;
}

header a:hover {
  color: #f63;
  text-decoration: none;
}

header .navbar {
  border-radius: 0px;
}

header .navbar-nav {
  font-size: 16px;
  margin: 0 20px;
  font-weight: bold;
  color: #333;
}

header .navbar-right {
  margin-top: 12px;
  margin-right: 0px;
}

header .navbar-right a {
  color: #57bc4c;
}

header .learingHeader {
  background: #fff;
  border-bottom: solid 2px #57bc4c;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 10px;
}

header input {
  height: 35px;
  margin-top: 7px;
}

header .input-search {
  border: solid 2px #57bc4c;
  width: 280px;
  padding-left: 10px;
}

header .search-buttom {
  border: solid 2px #57bc4c;
  background: #57bc4c;
  color: #fff;
  font-weight: bold;
  width: 80px;
}

/*
 * colors variables
 */
footer {
  width: 100%;
  background: #fff;
  margin-top: 20px;
  padding: 40px 0;
  line-height: 260%;
}

footer .btn-primary {
  min-width: 100px;
  margin-top: 10px;
}

footer img {
  position: relative;
  top: -8px;
  left: 0px;
}

footer dt {
  margin-bottom: 20px;
}

footer dd {
  line-height: 200%;
}

.wrap {
  width: 1170px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

/*头部*/
.register-head {
  background: #fff;
}

.register-head .logo {
  display: block;
  padding: 15px 0;
  float: left;
  margin-left: 20px;
}

.register-head .logo img {
  display: block;
}

.register-head .gologin {
  position: absolute;
  right: 0px;
  bottom: 10px;
  color: #57bc4c;
}

/*尾部*/
.register-footer {
  overflow: hidden;
  line-height: 24px;
  background: #fff;
}

.register-footer ul {
  overflow: hidden;
  margin: 20px;
}

.register-footer ul li {
  display: inline-block;
}

.register-footer ul li a {
  padding: 0 20px;
  color: #333;
  position: relative;
}

.register-footer ul li a:hover {
  color: #57bc4c;
}

.register-footer ul li a:after {
  content: " ";
  display: block;
  height: 14px;
  width: 1px;
  background: #333;
  position: absolute;
  top: 2px;
  right: 0;
}

/*注册body*/
.register-body {
  background: url(../img/page-regIco.jpg) bottom center no-repeat #fff;
  background-size: contain;
  position: relative;
  border-top: 2px solid #57bc4c;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  box-shadow: 2px 1px 8px #999;
}

.register-body .r-position {
  width: 450px;
  margin: 60px auto 0;
  padding: 40px 40px 20px;
  /*间距*/
  /*输入框*/
  /*验证码 输入框和图片*/
  /*验证文字*/
  /*按钮*/
  /*协议链接*/
}

.register-body .r-position li {
  margin-bottom: 20px;
  list-style: none;
}

.register-body .r-position .page-header {
  margin: -10px -40px 30px;
  padding-left: 40px;
}

.register-body .r-position .form-group {
  margin-bottom: 0;
  position: relative;
}

.register-body .r-position label {
  font-weight: normal;
}

.register-body .r-position .form-control {
  display: inline-block;
  width: 230px;
}

.register-body .r-position .verif input {
  width: 150px;
  float: left;
  margin-right: 10px;
}

.register-body .r-position .verif img {
  float: left;
  width: 66px;
  margin-right: 4px;
}

.register-body .r-position .verifphone input {
  width: 125px;
  float: left;
  margin-right: 10px;
}

.register-body .r-position .verifphone button {
  float: left;
  width: 93px;
  margin-right: 4px;
}

.register-body .r-position .verif-span {
  color: #f63;
  position: absolute;
  bottom: -18px;
  left: 15px;
  display: none;
}

.register-body .r-position .btn {
  width: 230px;
}

.register-body .r-position a {
  color: #57bc4c;
}

.register-body .r-position .mag-left {
  margin-left: 100px;
}

.register-body .r-position .form-control-static {
  padding: 0;
  margin: 0;
  line-height: 34px;
}

/*进度条*/
.bar {
  border-top: 5px solid #ccc;
  text-align: center;
  margin: 50px auto;
  width: 640px;
  display: block;
}

.bar dl {
  float: left;
  position: relative;
  width: 160px;
  top: -5px;
  border-top: 5px solid #ccc;
}

.s-num {
  position: relative;
  margin: -15px auto 0;
  color: #fff;
  font-weight: 700;
  width: 23px;
  height: 23px;
  background-image: url(../img/page-step2013.png);
  line-height: 23px;
}

.s-text {
  color: #ccc;
}

dl.active {
  border-top-color: #7abd54;
}

.active .s-num {
  background-position: -23px 0;
}

.active .s-text {
  color: #7abd54;
}

dl.done {
  border-top-color: #caecb6;
}

.done .s-num {
  background-position: -46px 0;
}

.done .s-text {
  color: #caecb6;
}

.active b, .active s, .first s, .last b {
  width: 5px;
  height: 5px;
  position: absolute;
  line-height: 0;
  font-size: 0;
  top: -5px;
  background-image: url(../img/page-step2013.png);
  overflow: hidden;
}

.bar s {
  left: 0;
}

.bar b {
  right: 0;
}

.first s {
  background-position: 0 -24px;
  background-color: #fff;
}

.last b {
  background-position: -5px -24px;
  background-color: #fff;
}

.active s {
  background-position: -23px -24px;
}

.active b {
  background-position: -28px -24px;
  background-color: #ccc;
}

.active.last s, .active.normal s {
  background-color: #caecb6;
}

.active.last b {
  background-color: #fff;
}

.done s {
  background-position: -46px -24px;
}

.done b {
  background-position: -51px -24px;
}

.active.last .s-num {
  background-position: -91px 0;
}

.last .s-num {
  background-position: -68px 0;
}
