/*
 * colors variables
 */
html, body {
  min-height: 100%;
  min-width: 1366px;
  background: #f4f4f4;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.more {
  color: #2da1e7;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #57bc4c;
  border: none;
}

.course-answer-cont {
  position: absolute;
  right: 0px;
  background: #000;
  width: 100%;
  padding: 0 !important;
  border-right: solid 1px #333;
  overflow: auto;
}

.course-answer-cont i:before {
  top: 6px;
  position: relative;
}

.course-answer-cont .sum-up {
  line-height: 40px;
  font-size: 18px;
  border-bottom: solid 1px #999;
}

.course-answer-cont .sum-up i {
  margin-right: 20px;
}

.course-answer-cont .top {
  font-size: 24px;
  line-height: 50px;
  padding: 0 15px;
  background: #12191e;
  color: #999;
}

.course-answer-cont .subtitle-cont {
  box-shadow: 2px 2px 2px #333;
  padding: 15px;
  margin: 15px;
  background: #fff;
}

.course-answer-cont .subtitle-cont li {
  line-height: 200%;
  padding-left: 20px;
  list-style: none;
  font-weight: bold;
}

.course-answer-cont .subtitle-cont li label {
  font-weight: 100;
  padding-left: 20px;
  display: block;
}

.course-answer-cont .subtitle-cont li .problem-tit {
  background: rgba(255, 255, 203, 0.8);
  padding-right: 10px;
}

.course-answer-cont .subtitle-cont li .problem-tit i {
  font-size: 24px;
  color: #57bc4c;
  margin: 0 10px;
}

.course-answer-cont .subtitle-cont li .problem-tit .pull-left {
  line-height: 36px;
}

.course-answer-cont .subtitle-cont li .error i {
  font-size: 24px;
  color: red;
  margin: 0 10px;
}

.course-answer-cont .subtitle-cont li .problem-explain .correct {
  color: #57bc4c;
}

.course-answer-cont .subtitle-cont li .problem-explain .explain {
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 5px;
  border: solid 1px #ddd;
}

.course-answer-cont .subtitle-cont .problem-spaces {
  line-height: 40px;
}

.course-answer-cont .subtitle-cont .problem-spaces input {
  border: none;
  line-height: 30px;
  border-bottom: solid 1px #333;
}

.course-answer-cont .subtitle-cont .problem-spaces .font-numA {
  width: 120px;
}

.course-answer-cont .subtitle-cont .problem-spaces .font-numB {
  width: 240px;
}

.course-answer-cont .subtitle-cont .problem-spaces .font-numC {
  width: 360px;
}

.course-answer-cont .subtitle-cont .title {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
}

.course-answer-cont .subtitle-cont .answer-but {
  margin-top: 20px;
}

.course-evaluate .shade {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.7;
}

.course-evaluate .evaluate {
  width: 50%;
  position: fixed;
  background: #fff;
  padding: 15px;
  left: 50%;
  margin-left: -25%;
  top: 30%;
  max-height: 500px;
  z-index: 2;
  border: solid 1px #333;
  box-shadow: 2px 2px 0px #333;
}

.course-evaluate .evaluate .title {
  margin-bottom: 5px;
  font-size: 24px;
}

.course-evaluate .evaluate .title .star-score {
  font-size: 18px;
  color: #999;
  padding-left: 10px;
}

.course-evaluate .evaluate .text-right {
  margin-top: 10px;
}

.course-evaluate .evaluate .text-right a {
  padding: 5px 25px;
}

.star {
  width: 107px;
  height: 19px;
  margin-top: 8px;
  display: inline-block;
  background: url(../../assets/img/star.jpg) no-repeat;
  background-size: contain;
}

.star .score {
  width: 50px;
  height: 19px;
  float: right;
  display: inline-block;
  background: url(../../assets/img/starGrey.jpg) top right no-repeat;
  background-size: cover;
}

.star .score i {
  display: none;
}
