/*
 * colors variables
 */
html, body {
  min-height: 100%;
  min-width: 1366px;
  background: #f4f4f4;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.more {
  color: #2da1e7;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #57bc4c;
  border: none;
}
