/*
 * colors variables
 */
html, body {
  min-height: 100%;
  min-width: 1366px;
  background: #f4f4f4;
}

a {
  color: #2da1e7;
}

a:hover {
  color: #2da1e7;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0;
  line-height: 200%;
}

em, i {
  font-style: normal;
}

.cr-pd-mr {
  padding: 0px;
  margin: 0px;
}

.cl-red {
  color: red !important;
}

.more {
  color: #2da1e7;
}

.hv-poin:hover {
  cursor: pointer;
}

.pd-left {
  padding-left: 15px;
}

.pd-rit {
  padding-right: 15px;
}

.btn-primary {
  background: #57bc4c;
  border: none;
}

.course-document-cont {
  background: #000;
  width: 100%;
  position: absolute;
  right: 0;
  padding: 0 !important;
  border-right: solid 1px #333;
  overflow: auto;
}

.course-document-cont i:before {
  top: 11px;
  position: relative;
}

.course-document-cont .top {
  font-size: 24px;
  line-height: 50px;
  padding: 0 15px;
  color: #999;
  background: #12191e;
}

.course-document-cont .subtitle-cont {
  box-shadow: 2px 2px 2px #333;
  padding: 15px;
  max-width: 1170px;
  margin: 15px auto;
  background: #fff;
}

.course-document-cont .subtitle-cont li {
  line-height: 200%;
  list-style: none;
  font-weight: bold;
}

.course-document-cont .subtitle-cont .cont {
  padding-left: 20px;
}

.course-document-cont .subtitle-cont .answer-but {
  padding-bottom: 10px;
  border-bottom: solid 1px #ddd;
}

.course-document-cont .subtitle-cont .praise {
  padding: 10px;
  font-size: 24px;
}
