/*
 * colors variables
 */
.article-cont .content .cont-about {
  background: #fff;
  margin-bottom: 15px;
}

.article-cont .content .cont-about .tit {
  font-size: 22px;
  color: #57bc4c;
  padding: 15px;
  padding-left: 0px;
}

.article-cont .content .cont-about .tit span {
  border-left: solid 8px #57bc4c;
  padding-left: 20px;
}

.article-cont .content .cont-about .cont {
  height: 68px;
  overflow: hidden;
  padding: 10px;
  font-size: 16px;
  line-height: 32px;
  transition: 1s;
}

.article-cont .content .cont-about .more {
  display: block;
  line-height: 26px;
  padding: 10px;
}

.article-cont .content .cont-about .suitable-title {
  margin: 0 15px;
  line-height: 30px;
  border-bottom: solid 1px #57bc4c;
  color: #57bc4c;
}

.article-cont .content .cont-about .suitable {
  color: #999;
  font-size: 16px;
  padding: 15px;
}

.article-cont .content .cont-course {
  margin: 15px 0;
  background: #fff;
}

.article-cont .content .cont-course .tit {
  font-size: 22px;
  color: #57bc4c;
  padding: 15px;
  padding-left: 0px;
}

.article-cont .content .cont-course .tit span {
  border-left: solid 8px #57bc4c;
  padding-left: 20px;
}

.article-cont .content .cont-course .cont {
  padding: 20px;
}

.article-cont .content .cont-course .cont .school {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: solid 1px #f4f4f4;
}

.article-cont .content .cont-course .cont .school p:nth-child(1) {
  font-size: 22px;
}

.article-cont .content .cont-course .cont .info {
  margin-bottom: 10px;
  font-size: 18px;
}

.article-cont .content .cont-course .cont .info img {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 15px;
  border-radius: 50%;
}

.article-cont .content .cont-course .cont .info p {
  margin: 0;
  line-height: 30px;
}

.article-cont .content .cont-course .cont .info p:nth-child(2) {
  font-size: 16px;
  color: #999;
}

.article-cont .content .cont-course .cont .table {
  border: solid 1px #ccc;
  margin: 10px 0;
}

.article-cont .content .cont-course .cont .table th {
  text-align: center;
  border-right: solid 1px #ccc;
}

.article-cont .content .cont-outline {
  padding: 20px;
  background: #fff;
}

.article-cont .content .cont-outline .top {
  font-size: 24px;
}

.article-cont .content .cont-outline .cont {
  padding: 10px 0;
  border-top: dashed 1px #ddd;
  border-bottom: dashed 1px #ddd;
}

.article-cont .content .cont-outline .cont .class-info {
  height: 22px;
  overflow: hidden;
  transition: 1s;
}

.article-cont .content .cont-outline .cont .class-info .more {
  color: #333;
}

.article-cont .content .cont-outline .cont .class-info .hv-poin {
  color: #2da1e7;
}

.article-cont .content .cont-outline .bottom {
  line-height: 40px;
  font-size: 16px;
}

.article-cont .content .cont-answer {
  margin: 15px 0;
  padding-bottom: 20px;
  background: #fff;
}

.article-cont .content .cont-answer .tit {
  font-size: 22px;
  color: #57bc4c;
  padding: 15px;
  padding-left: 0px;
}

.article-cont .content .cont-answer .tit span {
  border-left: solid 8px #57bc4c;
  padding-left: 20px;
}

.article-cont .content .cont-answer .answer-item {
  padding-left: 20px;
  height: 30px;
  overflow: hidden;
  transition: 1s;
}

.article-cont .content .cont-answer .answer-item h5 {
  margin-left: 10px;
  display: inline-block;
}

.article-cont .content .cont-answer .answer-item .title {
  color: #999;
}

.article-cont .content .cont-answer .answer-item .artic {
  padding: 0 24px;
  line-height: 30px;
  color: #999;
}

.article-cont .content .cont-evaluate {
  background: #fff;
  margin: 15px 0;
  padding-bottom: 15px;
}

.article-cont .content .cont-evaluate .tit {
  font-size: 22px;
  color: #57bc4c;
  padding: 15px;
  padding-left: 0px;
}

.article-cont .content .cont-evaluate .tit span {
  border-left: solid 8px #57bc4c;
  padding-left: 20px;
}

.article-cont .content .cont-evaluate .evaluate-item {
  overflow: auto;
  margin: 5px 15px;
  padding: 10px 0;
  border: solid 1px #ddd;
}

.article-cont .content .cont-evaluate .evaluate-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.article-cont .content .cont-evaluate p {
  margin: 0px;
}

.article-cont .content .cont-evaluate .bottom {
  line-height: 40px;
  font-size: 16px;
}

.article-cont .content .cont-like {
  overflow: auto;
  background: #fff;
}

.article-cont .content .cont-like .tit {
  font-size: 22px;
  color: #57bc4c;
  padding: 15px;
  padding-left: 0px;
}

.article-cont .content .cont-like .tit span {
  border-left: solid 8px #57bc4c;
  padding-left: 20px;
}

.article-cont .content .cont-like .lick-roll {
  padding: 0 28px;
  position: relative;
}

.article-cont .content .cont-like .lick-roll .next, .article-cont .content .cont-like .lick-roll .prev {
  z-index: 1;
  display: none;
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: rgba(200, 200, 200, 0.6);
  box-shadow: 0px 0px 3px #fff;
  position: absolute;
  top: 70px;
  right: 17px;
  color: #999;
}

.article-cont .content .cont-like .lick-roll .prev {
  left: 17px;
}

.article-cont .content .cont-like .lick-roll .row-box {
  height: 227px;
  overflow: hidden;
}

.article-cont .content .cont-like .lick-roll .row-list {
  transition: 1s ease-out;
}

.article-cont .content .cont-like .like-item {
  border: solid 1px #fff;
  list-style: none;
  float: left;
  display: inline-block;
  margin: 10px 5px;
  padding: 5px;
  float: left;
}

.article-cont .content .cont-like .like-item .tit {
  color: #4c5a65;
  font-size: 16px;
  line-height: 200%;
  position: relative;
}

.article-cont .content .cont-like .like-item .tit span {
  display: inline-block;
  position: absolute;
  top: 4px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
}

.article-cont .content .cont-like .like-item img {
  width: 200px;
  height: 135px;
}

.article-cont .content .cont-like .like-item:hover {
  border: solid 1px #ddd;
}

.article-cont .star {
  width: 157px;
  height: 28px;
  display: inline-block;
  background-size: cover;
  background: url(../../assets/img/star.jpg) no-repeat;
}

.article-cont .star .score {
  width: 50px;
  height: 28px;
  background-size: cover;
  float: right;
  display: inline-block;
  background: url(../../assets/img/starGrey.jpg) top right no-repeat;
}

.article-cont .star .score i {
  display: none;
}
